.todos-app {
  background: linear-gradient(
    180deg,
    #5DB4BF 0%,
    rgba(93, 180, 191, 0.9) 58.17%,
    rgba(93, 180, 191, 0.5) 100%
  );
  height: 100%;
  padding: 15px;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  box-shadow: 00px 3px 13px 1px rgba(0, 0, 0, 0.12);
}

header {
  position: relative;
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header > img {
  height: 2em;
}

.logo {
  color: #ffffff;
  letter-spacing: 0.5em;
  margin: 0;
}
.no-todos {
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.no-todos > img {
  height: 30vh;
}

.no-todos .content {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  margin: 0px 0px 10px;
}

.content > div {
  padding: 5px;
  color: #333;
  background-color: rgba(255, 255, 255, 0.8);
  width: fit-content;
}

.content > div:nth-child(1) {
  margin-right: 60px;
  border-radius: 5px 5px 0px 5px;
}

.content > div:nth-child(2) {
  border-radius: 0px 5px 5px 5px;
}

#btn-add-todo {
  padding: 5px;
  width: 50px;
  height: 50px;
  font-size: 2em;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 0px 10px 1px #fafafa;
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  color: #5DB4BF;
  outline: none;
  cursor: pointer;
}

.todo-item {
  background-color: #ffffff;
  color: #333;
  font-weight: 500;
  padding: 1em 10px;
  border-radius: 5px;
  border: 2px solid #3ca0a5;
  box-shadow: 1px 1px 4px 0.5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin-bottom: 10px;
}

.todo-type {
  color: #ffffff;
  margin-bottom: 5px;
  padding-left: 10px;
}

.finished .todo-item {
  color: #ffffff;
  background-color: transparent;
  text-decoration: line-through;
}

input[type="text"] {
  width: 100%;
  outline: none;
  margin-top: 20px;
}

@media only screen and (min-width: 768px) {
  .todos-app {
    width: 414px;
    height: 736px;
    overflow: hidden;
    border-radius: 10px;
  }
}
